<div class="topnav">
    <a href="#" style="float: left;" class="active" onclick="openNav()">&#9776;</a>
    <a style="float: left;" href="{% url 'home' %}">Ana Sayfa</a>
    <a style="float: left;" href="{% url 'blog' %}">Bloğumuz</a>
    <a style="float: left;" href="{% url 'referance' %}">Referanslarımız</a>
      <div class="search-container">
          <!-- <form action="/action_page.php"> -->
            <input type="text" placeholder="Ara..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          <!-- </form> -->
      </div>
    </div>